{% extends 'base.html' %}
{% block title %}<title>Projects</title>{% endblock title %}
{% block content %}
{% load static %}
{% static "assets" as BaseURL %}
            
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            {% for project in projects %}
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0 text-dark">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="github-container mt-3">
                                            <img class="img-fluid" src='{{BaseURL}}/{{project.img}}' alt="Your Image">
                                        </div>
                                        {% comment %} <img class="img-fluid mt-3" src='{{BaseURL}}/{{project.img}}' alt="..." /> {% endcomment %}
                                        <h2 class="fw-bolder">{{project.project_name}}</h2>
                                        <div class="px-5 text-center">
                                            
                                            <p>{{project.description}}</p>
                                        </div>
                                    </div>
                                    <div class="github-link">
                                        <a href="https://github.com/your_username">
                                          <img src="{{BaseURL}}/github.png" alt="GitHub Icon">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Project Card 2-->
                        </div>
                    </div>
                </div>
            </section>
            {% comment %} <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Contact me</a>
                    </div>
                </div>
            </section>
        </main> {% endcomment %}
{% endblock content %}
        {% comment %} <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html> {% endcomment %}
